<div id="summary_area">
	<h1 style="font-size:50px">Downloads</h1>
	<div id="navigation"><%= link_to "Add Download", {:action => 'new' }%></div>
</div>
<div id="details_mask"></div>
<div id="details_area">
	<% @domain_hash.sort.each do |domain, save_path_array| %>
		<h2><%= domain %></h2>
		<table>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th colspan="2">Last Attempt</th>
				<th></th>
				<th></th>
				<th>Url / Path</th>

			</tr>
			<% save_path_array.sort.each do |save_path| %>
			<%
			download = nil
			@output_files.each do |dsd|
				if dsd.save_path == save_path
					download = dsd
					break
				end
			end
			time = ( download.download_log.nil? or download.download_log.count == 0) ? raw("<span style='color:red'>never downloaded</span>") : raw(download.download_log[-1][:time].strftime("%m/%d&nbsp;<span style=\"color:#999\">%H:%M</span>"))
			status = ( download.download_log.nil? or download.download_log.count == 0) ? raw("<span style='color:red'>never downloaded</span>") : download.download_log[-1][:status]
			filename = download.save_path.nil? ? "" : download.save_path.split("/")[-1]
			%>
			<tr>
					<% if download.handle.nil? %>
					<td><strong style="color:#DDD"><%= filename %></strong></td>
					<% else %>
					<td><strong><%= download.handle %></strong></td>
					<% end %>
					<td><%= link_to "show" , {:action => 'show', :id => download.id}%></td>
					<td><%= link_to "download" , {:action => 'download', :id => download.id}%></td>
					<td><%= time %></td>
					<td><%= status %></td>
					<td><%= link_to "edit" , {:action => 'edit', :id => download.id} %></td>
					<td><%= link_to "delete" ,  download, :method => :delete %></td>
					<td><span style="color:#999"><%= download.url %></span></td>
			</tr>
			<% end %>
		</table>
	<% end %>
</div>

<p>