<div id="summary_area">
	<h1 style="font-size:50px">Downloads</h1>
	<div id="navigation"><%= link_to "Add Download", {:action => 'new' }%></div>
</div>
<div id="details_mask"></div>
<div id="details_area">
	<% @domain_hash.sort.each do |domain, handle_or_save_path_array| %>
		<h2><%= domain %></h2>
		<table>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<!-- <th colspan="2">Last Attempt</th> -->
				<th></th>
				<th></th>
				<!-- <th>Url / Path</th> -->

			</tr>
			<% handle_or_save_path_array.sort.each do |handle_or_save_path| %>
			<%
			download = nil
			@output_files.each do |dsd|
				if dsd.save_path == handle_or_save_path or dsd.handle == handle_or_save_path
					download = dsd
					break
				end
			end
			#this needs to be cached in the record
			#last_attempt = download.dsd_log_entries.order(:time).last
			
			time = ""#last_attempt.nil? ? raw("<span style='color:red'>never downloaded</span>") : raw(last_attempt.time.strftime("%m/%d&nbsp;<span style=\"color:#999\">%H:%M</span>"))
			status = ""#last_attempt.nil? ? raw("<span style='color:red'>never downloaded</span>") : last_attempt.status
			filename = download.save_path.nil? ? "" : download.save_path.split("/")[-1]
			%>
			<tr>
					<% if download.handle.nil? %>
					<td><strong style="color:#DDD"><%= filename %></strong></td>
					<% else %>
					<td><strong><%= download.handle %></strong></td>
					<% end %>
					<td><%= link_to "show" , {:action => 'show', :id => download.id}%></td>
					<td><%= link_to "download" , {:action => 'download', :id => download.id}%></td>
<!-- 					<td><%= time %></td>
					<td><%= status %></td> -->
					<td><%= link_to "edit" , {:action => 'edit', :id => download.id} %></td>
					<td><%= link_to "delete", download, :method => :delete, :confirm => "Are you sure you want to delete this?"  %></td>
<!-- 					<td><span style="color:#999"><%= download.url %></span></td> -->
			</tr>
			<% end %>
		</table>
	<% end %>
</div>

<p>