<style>
table.dl-log td {color:#999;}
span.changed { color:#066A8A; }
span.problem {color:red}
h2,
div#summary_area h2 {font-size:30px;}
</style>
<h1 style="font-size:45px"><%= @output_file.handle %></h1>
<h3><%= link_to 'Edit', edit_data_source_download_path(@output_file) %></h3>
<div id="summary_area">
	<% unless @output_file.dsd_log_entries.nil? %>
	<h2 class="handle-h2">Download Log</h2>
	<table class="dl-log">
	<% current_url = "" %>
	<% @output_file.dsd_log_entries.order(:time).each do |dl| %>
		<% if dl.url != current_url %>
			<% current_url = dl.url %>
			</table>
			<h4><%= current_url %></h4>
			<table class="dl-log">
		<% end %>
		<tr><td><%= dl.time.to_date %></td><td><span class="<%= "problem" if dl.status != 200 %>"><%= dl.status %></span></td><td><span class="<%= "changed" if dl.dl_changed %>" ><%= dl.dl_changed ? "changed" : "" %></span></td></tr>
	<% end %>
	</table>
	<% end %>
</div>
<div id="details_mask"></div>
<div id="details_area">
	<% unless @output_file.notes.nil? %>
	<h2>Notes</h2>
	<p><%= @output_file.notes %></p>
	<% end %>
	
	<% unless @output_file.handle.nil? or @output_file.handle == "" %>
	<h2 class="handle-h2">Series</h2>
	<table>	
	<% all_dependents = [] %>
	<% DataSource.where("eval LIKE '%#{@output_file.handle}%'").all.each do |ds| %>
	<% s = ds.series %>
	<% 
	# took out this dependents stuff. Don't think it will be important yet and was slowing things down significantly
	#all_dependents += s.new_dependents 
	%>
	<tr>
		<td><%= link_to(s.name, {:controller => "series", :action => 'show', :id => s.id}, :target => "_blank")  %></td>
		<td><%= s.aremos_diff %></td>
		<td><%= s.aremos_missing %></td>
	</tr>
	<% end %>
	</table>

	<% end %>
</div>