<h2><%= title %>: <%= count %> Series </h2>
<h5><%= description %></h5>
<table>
	<tr><td></td><td>missing</td><td>diff</td></tr>
	<% queue.each do |s| %>
	<tr>
		<td><%= link_to s.name, {:controller => "series", :action => 'show', :id => s.id} %></td>
		<td><%= s.aremos_missing %></td>
		<td><%= s.aremos_diff %></td>
	</tr>
	<% end %>
</table>