

<div id="maybe-ok">
	<%= render :partial => 'investigate_queue', :locals => {
											:title => 'Maybe OK', 
											:count => @maybe_ok_count,
											:description => "No Missing Values, cumulative diff < 0.1",
											:queue => @maybe_ok }%>	
</div>

<div id="wrong">
	<%= render :partial => 'investigate_queue', :locals => {
									:title => 'Wrong', 
									:count => @wrong_count,
									:description => "No Missing Values, cumulative diff >= 0.1, < 1000",
									:queue => @wrong }%>	
</div>

<div id="way-off">
	<%= render :partial => 'investigate_queue', :locals => {
									:title => 'Way Off', 
									:count => @way_off_count,
									:description => "No Missing Values, cumulative diff >= 1000",
									:queue => @way_off }%>	
</div>

<div id="missing-low-to-high">
	<%= render :partial => 'investigate_queue', :locals => {
									:title => 'Missing Low to High', 
									:count => @missing_count,
									:description => "Ascending Missing Values",
									:queue => @missing_low_to_high }%>	
</div>

<div id="missing-high-to-low">
	<%= render :partial => 'investigate_queue', :locals => {
									:title => 'Missing High to Low', 
									:count => @missing_count,
									:description => "Descending Missing Values",
									:queue => @missing_high_to_low }%>	
</div>