
<% desc = a_series.nil? ? "" : a_series.description[0..20].gsub(",","") %>
<% full_desc = a_series.nil? ? "" : a_series.description %>

<script type="text/javascript"
src="https://www.google.com/jsapi">

</script>  
<script type="text/javascript">

google.load("visualization", "1", {packages: ["table"]});
google.load("visualization", "1", {packages:["corechart"]});

function gdata_to_csv(data) {
	datajson = eval("("+data.toJSON()+")");
	var csv_string = datajson.cols.map(function(elem){return elem.label; }).join() + "\n";
	datajson.rows.map(function(row) { csv_string += row.c.map(function(cell){ return cell.v; }).join() + "\n"; });
	return csv_string;
}

//////////////////////////////////////////////////////////
google.setOnLoadCallback(draw_charts);

///////////////////////////////////////////////////////////

function draw_charts() {

var data_yoy = new google.visualization.DataTable({cols: [ 
	{ label: 'Year',   type: 'string' },
	{ label: '<%= desc %>',  type: 'number' },
	{ label: '<%= bar_label %>',  type: 'number' }
]});

data_yoy.addRows([
<% plot_data.sort.each do |date,value| %>
	['<%= date %>', <%= value.round(3) %>, <%= bar_data[date].round(3) %>],
<% end %>
]);

var chart_yoy = new google.visualization.ComboChart(document.getElementById('chart_<%=bar_id_label %>_<%= chart_id %>')).
draw(data_yoy, {curveType: "none",

				width: 500, 
				height: 350,
				chartArea: {width: 424},
               vAxis: {
			//maxValue: 16, 
		     textStyle: {fontSize: 11}
		     },
                title: '<%= full_desc %>',
                titleTextStyle: {color: '#297B92', fontSize: 14},
                legend: {position:"bottom", textStyle:{color:'#555555'}},
                series: [{color: '#267991', targetAxisIndex: 0, type:'line'}, {color: '<%= bar_color %>' , targetAxisIndex: 1, type:'bars'}],
                lineWidth: 2,
             	hAxis: {	
//			showTextEvery: '2', 
			slantedText: true, 
			slantedTextAngle: '45', 
			textStyle: {fontSize: 10}
			},
               backgroundColor: '#F9F9F8'
	});

	$('#data_<%=bar_id_label %>_<%= chart_id %>').click(function() {
		    var href = '/csv.php?csv=';
			href += encodeURIComponent(gdata_to_csv(data_yoy));
			$(this).attr('href', href);
	});
	
}

</script>

<div id="chart_<%=bar_id_label %>_<%= chart_id %>">
</div>
<a class="createbutton" id="data_<%=bar_id_label %>_<%= chart_id %>" href="#">download data</a>
