
<script type="text/javascript"
src="https://www.google.com/jsapi">

</script>  
<script type="text/javascript">

google.load("visualization", "1", {packages: ["table"]});
google.load("visualization", "1", {packages:["corechart"]});


//////////////////////////////////////////////////////////
google.setOnLoadCallback(draw_charts);

///////////////////////////////////////////////////////////

function draw_charts() {

var data_yoy = new google.visualization.DataTable();

data_yoy.addColumn('string', 'Year');
data_yoy.addColumn('number', 'Level');
data_yoy.addColumn('number', '<%= bar_label %>');

<% plot_data.sort.each do |date,value| %>
	data_yoy.addRow(['<%= date %>', <%= value %>, <%= bar_data[date] %>]);
<% end %>

var chart_yoy = new google.visualization.ComboChart(document.getElementById('chart_<%=bar_id_label %>_<%= chart_id %>')).
draw(data_yoy, {curveType: "none",

				width: 500, 
				height: 350,
				chartArea: {width: 424},
               vAxis: {
			//maxValue: 16, 
		     textStyle: {fontSize: 11}
		     },
                title: '<%= a_series.description %>',
                titleTextStyle: {color: '#297B92', fontSize: 14},
                legend: {position:"bottom", textStyle:{color:'#555555'}},
                series: [{color: '#267991', targetAxisIndex: 0, type:'line'}, {color: '<%= bar_color %>' , targetAxisIndex: 1, type:'bars'}],
                lineWidth: 2,
             	hAxis: {	
//			showTextEvery: '2', 
			slantedText: true, 
			slantedTextAngle: '45', 
			textStyle: {fontSize: 10}
			},
               backgroundColor: '#F9F9F8'
	});
	
}

</script>

<div id="chart_<%=bar_id_label %>_<%= chart_id %>">
</div>
