<% desc = a_series.nil? ? "" : a_series.description[0..20].gsub(",","") %>
<% full_desc = a_series.nil? ? "" : a_series.description %>

<script type="text/javascript"
src="https://www.google.com/jsapi">

</script>  
<script type="text/javascript">

google.load("visualization", "1", {packages: ["table"]});
google.load("visualization", "1", {packages:["corechart"]});


//////////////////////////////////////////////////////////
google.setOnLoadCallback(draw_charts);

///////////////////////////////////////////////////////////

function gdata_to_csv(data) {
	datajson = eval("("+data.toJSON()+")");
	var csv_string = datajson.cols.map(function(elem){return elem.label; }).join() + "\n";
	datajson.rows.map(function(row) { csv_string += row.c.map(function(cell){ return cell.v; }).join() + "\n"; });
	return csv_string;
}

function draw_charts() {

var data = new google.visualization.DataTable({cols: [ 
	{ label: 'Year',   type: 'string' },
	{ label: '<%= desc %>',  type: 'number' }
]});

data.addRows([
<% plot_data.sort.each do |date,value| %>
	['<%= date %>', <%= value.round(3) %>],
<% end %>
]);

var chart = new google.visualization.LineChart(document.getElementById('chart_<%= chart_id %>')).
draw(data, {curveType: "none",
                width: 500, 
				height: 300,
                chartArea: {width: 400},
               vAxis: {
			//title: 'Mil. $2010', 
			//titleTextStyle: {fontSize: 12}, 
			//maxValue: 16, 
		     textStyle: {fontSize: 11}
		     },
                title: '<%= full_desc %>',
                titleTextStyle: {color: '#297B92', fontSize: 14},
                legend: 'none',
                series: [{color: '#267991'}],
                lineWidth: 2,
             	hAxis: {	
//			showTextEvery: '2', 
			slantedText: true, 
			slantedTextAngle: '45', 
			textStyle: {fontSize: 10}
			},
               backgroundColor: '#F9F9F8'
	});
	
	$('#data_<%= chart_id %>').click(function() {
		    var href = '/csv.php?csv=';
			href += encodeURIComponent(gdata_to_csv(data));
			$(this).attr('href', href);
	});
	
}

</script>

<div id="chart_<%= chart_id %>">
</div>
<a class="createbutton" id="data_<%= chart_id %>" href="#">download data</a>