<table style="width:800px;">
	<tr>
		<th style="width:80px;">Date</th>
		<th>AREMOS</th>
		<th></th>
		<th>Values</th>
	</tr>
	<%
		date_hash = {}
		missing_dates = as.data.keys - series.data.keys unless as.nil?
		missing_dates.each {|md| date_hash[md] = as.data[md]} unless as.nil?
		ncdps = series.data_points.where(:current => false) 
		series.current_data_points.sort_by(&:date_string).each {|cdp| date_hash[cdp.date_string] = cdp}
	%>
 	<% date_hash.sort.each do |date_string, element| %>
	<% if element.class == DataPoint %>
		<% cdp = element %>
		<% series.units ||= 1 %>
		<% cdp_val = cdp.value / series.units %>
		
	    <% a_value = (as.nil? or as.data[cdp.date_string].nil?) ? "-" : as.data[cdp.date_string].round(3) %>
		<% unless a_value.nil? or a_value.class == String %>
		<% diff = series.a_diff(a_value, cdp_val.round(3)) %>
	    <% a_color = diff == 0 ? "#999999" : aremos_color(diff) %>
		<% end %>
	    <tr>
			<td><%= cdp.date_string %></td>
			<td><span style='color:<%= a_color %>'><%= a_value %></span></td>
			<td><%= "H" unless cdp.history.nil? %></td>
			<td>
				<span class='current-datapoint'>
					<% bgcolor = DataSource.find(cdp.data_source_id).color rescue "FFF" %>
					<div class='datapoint current-datapoint' style='background-color:#<%= bgcolor %>'>
						<%= "%.3f" % cdp_val %>
					</div>
					<% 
						#series.data_points.where(:current => false, 
						#	:date_string => cdp.date_string).sort_by(&:created_at).reverse.each do |dp| 
						previous_data_points = []
						ncdps.each {|dp| previous_data_points.push(dp) if dp.date_string == cdp.date_string}
						pdp_sort = previous_data_points.sort {|dp1, dp2| dp1.created_at <=> dp2.created_at}
						pdp_sort.each do |dp|
					%>
							<% dp_val = dp.value / series.units %>
							<% bgcolor = DataSource.find(dp.data_source_id).color rescue "FFF" %>
							<div class='datapoint' style='background-color:#<%= bgcolor %>'>
								<%= "%.3f" % dp_val %>
							</div>
					<% end %>
				</span>
			</td>
		</tr>
	<% else %>
		<% a_color = element == 1000000000000000.0 ? "gray" : "red" %>
		<tr>
			<td><%= date_string %></td>
			<td><span style='color:<%= a_color %>'><%= element %></span></td>
			<td></td>
			<td style="text-align:center"><span style='color:red'> - </span></td>
		</tr>
	<% end %>
  	<% end %>
</table>
