<%= render :partial => 'calculate_form' %>
<h1><%= @series.name %></h1>
<h3><%= @desc %></h3>
<h3>
<%= link_to 'Details', @series %> |  
<% @series.other_frequencies.each do |other_freq| %>
	<%= link_to other_freq,  action: "analyze", id: other_freq.ts %> |
<% end %>

</h3>
<div id="finance" style="width:800px;">
  <div id="labels">

    <div id="financeTitle">Levels and YOY% Change</div>
    <div id="time">
      <a onclick="HumbleFinance.zoom(5);">last 5</a>
      <a onclick="HumbleFinance.zoom(20);">last 20</a>
      <a onclick="HumbleFinance.zoom(60);">last 60</a>
      <a onclick="HumbleFinance.zoom(120);">last 120</a>
      <a onclick="HumbleFinance.zoom(250);">last 250</a>
    </div>
    <div id="dateRange"></div>

  </div>
</div>

<script>

<% dates = @series.data.keys.sort %>
<% data = @series.data %>
<% lvl_chg = @lvl_chg.data %>
<% chg = @chg.data %>
<% ytd = @ytd.data %>

var jsonData = [ 
	<% dates.each do |date_string|  %> 
	{ 
		date: "<%=date_string %>", 
		level: "<%= data[date_string].nil? ? "" : "%.3f" % data[date_string] %>" , 
		change: "<%= chg[date_string].nil? ? "" : "%.1f" % chg[date_string]%>" ,
		ytd: "<%= ytd[date_string].nil? ? "" : "%.1f" % ytd[date_string]%>"
	}, 
	<%end%> 
	<% if dates.length <= 38 %>
	<% (dates.length..38).each do |num| %>
	{ 
		date: "filler data-00-00", 
		level: "0" , 
		change: "0" ,
		ytd: "0"
	}, 
	<%end%>
	<% end %>
];

<%
fill = dates.length <= 38 ? ((dates.length..38).to_a.map {|elem| "[#{elem},0]"}).join(",") : ""
%>
var priceData = [ <% dates.each_index do |i|  %> [<%= i %>, <%= data[dates[i]] %>], <%end%> <%=fill%>];
var volumeData = [ <% dates.each_index do |i|  %> [<%= i %>, <%= chg[dates[i]].nil? ? 0 : chg[dates[i]] %>], <%end%> <%=fill%>];

var summaryData = [ 
<%
i = 0
step = data.count > 100 ? data.count / 100 : 1
while i < data.count do
%> [<%= i %>, <%= data[dates[i]] %>], <%	
i += step
end
%>
<%=fill%>
];

</script>

<script src="/javascripts/humblefinance/hsd.js"></script>
<script src="/javascripts/humblefinance/prototype.min.js"></script>
<script src="/javascripts/humblefinance/Finance.js"></script>
<script src="/javascripts/humblefinance/excanvas.js"></script>
<script src="/javascripts/humblefinance/base64.js"></script>
<script src="/javascripts/humblefinance/canvas2image.js"></script>
<script src="/javascripts/humblefinance/canvastext.js"></script>
<script src="/javascripts/humblefinance/flotr.js"></script>
<script src="/javascripts/humblefinance/HumbleFinance.js"></script>
<script src="/javascripts/humblefinance/demo.js"></script>

<table>
	<tr>
		<th>Date</th>
		<th>Level</th>
		<th>Level Change</th>
		<th>YOY</th>
		<th>YTD</th>
	</tr>
	<% dates.reverse.each do |date_string|  %>  
	<tr>	
		<td><%=date_string %></td> 
		<td><%= data[date_string].nil? ? "" : "%.3f" % data[date_string] %></td>
		<td><%= lvl_chg[date_string].nil? ? "" : "%.3f" % lvl_chg[date_string] %></td>
		<td><%= chg[date_string].nil? ? "" : "%.1f" % chg[date_string]%></td>
		<td><%= ytd[date_string].nil? ? "" : "%.1f" % ytd[date_string]%></td>
	</tr>
	<%end%>
</table>	 
	
		


