<div id="summary_area">
	<h1>Data Series</h1>
	<h2>Total: <%= @all_series.count %></h2>
	<div id="navigation">
		<%= raw navigation_by_frequency %>
		<%= raw navigation_by_letter %>
	</div>
</div>
<div id="details_mask"></div>
<div id="details_area">
		<%= render :partial => 'calculate_form' %>
		<ul>
		<% @all_series.each do |series| %>
			<li><%= link_to series.name, {:action => 'show', :id => series.id} %></li>
		<% end %>
		</ul>
</div>

<p>
	
	