
 <script type="text/javascript">
// Load the Visualization API and the piechart package.
google.load('visualization', '1', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
//google.setOnLoadCallback(drawChart);

// Callback that creates and populates a data table, 
// instantiates the pie chart, passes in the data and
// draws it.
function drawChart() {

// Create our data table.
var data = new google.visualization.DataTable();
data.addColumn('string', 'Date');
data.addColumn('number', '<%= @series.name %>');
data.addRows([
<%=
gct_datapoints @series
%>
]);

// Instantiate and draw our chart, passing in some options.
var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
chart.draw(data, {width: 400, height: 240});
google.visualization.events.addListener(chart, 'select', function() {
  alert("HI");
});

}



</script>



<p class="notice"><%= notice %></p>

<div id="summary_area">
	<h2>Series:</h2>
	<h1><%= @series.name %></h1>
	<h3><%= @desc %></h3>
	<div id="navigation">
		<%= link_to 'Edit', edit_series_path(@series) %> |
		<%= link_to 'Delete', @series, :method => :delete %> | 
		<%= link_to 'Back', :action => 'index' %>

<div id="chart_div"></div>

<%= render :partial => 'investigation_sort', :locals => {:series => @series} %>

	</div>
</div>
<div id="details_mask"></div>
<div id="details_area">
	
	<table>
		<tr><td class="label">Aremos: </td><td><%= "#{@series.aremos_missing} missing, #{@series.aremos_diff.round(5) unless @series.aremos_diff.nil?} cumulative difference" %> [ refresh ]</td></tr>
		<tr><td class="label">Output: </td><td>
		<%= @pdf.filename unless @pdf.nil? %></td></tr>
		<tr><td class="label">Dependent Series: </td>
			<td>
				<%= "None" if @series.new_dependents.count == 0 %>
				<% @series.new_dependents.sort.each do |nd| %>
				<%= link_to nd, {:action => 'show', :id => nd.ts.id} %>
				<% end %>
			</td>
		</tr>
		<tr><td class="label">Sources: <br />	<%= link_to 'Add', :controller => :data_sources, :action => :new, :series_id => @series.id %>
		</td><td>
		<%= render :partial => 'source_list', :locals => { :series => @series } %>
		</td></tr>
		<tr><td class="label">Units: </td><td>
		<%= @series.units.nil? ? 1 : @series.units.to_s+"(s)" %></td></tr>
		<tr><td class="label">Data: </td><td>
			<%= render :partial => 'data_points', :locals => {:series => @series, :as => @as}%>
		</td></tr>
		<tr><td class="label">Source Map</td><td>
		<%= render :partial => 'source_map', :locals => {:series => @series} %>
		</td></tr>
	</table>
</div>
