<!DOCTYPE html>
<html>
<head>
  <title><%= @series.nil? ? "UHERO Data Manager" : "#{@series.name} - #{@desc}" %></title>
  <%= stylesheet_link_tag :all %>

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= 
  javascript_include_tag :defaults 
  %>
  <%= csrf_meta_tag %>

</head>
<body>
<div id="top-level-nav">
	<%= 
	render 'devise/menu/login_items' 
	%> | 
	<!-- <a href="/series_data_files">Data Sources</a> | -->
	<a href="/prognoz_data_files">Prognoz Output Files</a> | 
	<a href="/series">Data Series</a> | 	
	<a href="/data_source_downloads">Downloads</a> | 	
	<a href="/mapping">Coverage</a> | 
	<a href="/investigate">Accuracy</a> | 
	<a href="/data_lists">Exports</a>
</div>
<div id="chart-board-nav">
	Chart Boards:&nbsp;
	<a href="/construction">Construction (M)</a> | 
	<a href="/construction_q">Construction (Q)</a> | 
	<a href="/permits">Permits (M)</a> | 	
	<a href="/hbr_mbr">HBR / MBR (M)</a> | 	
	<a href="/prudential">Prudential (Q)</a> | 
	<a href="/employment">Employment (M)</a>
</div>
<p class="notice"><%= flash[:notice] %></p>
<p class="alert"><%= flash[:alert] %></p>
<%= yield %>

</body>
</html>