<!DOCTYPE html>
<html>
<head>
  <title><%= @series.nil? ? "UHERO Data Manager" : "#{@series.name} - #{@desc}" %></title>
  <%= stylesheet_link_tag :all %>

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= 
  javascript_include_tag :defaults 
  %>
  <%= csrf_meta_tag %>
<link rel="stylesheet" href="/stylesheets/jquery-ui.css">
<script src="/javascripts/ui/jquery-ui.js"></script>
</head>
<body>
<div id="top-level-nav">
	<%= 
	render 'devise/menu/login_items' 
	%> | 
	<!-- <a href="/series_data_files">Data Sources</a> | -->
	<a href="/prognoz_data_files">Prognoz Output Files</a> | 
	<a href="/series">Data Series</a> | 	
	<a href="/data_source_downloads">Downloads</a> | 	
	<a href="/investigate_visual">Investigation Dashboard</a> | 
	<a href="/data_lists">Exports</a> | 
	Search 
	
	<div id="search" style="display:inline">
		<%= render :partial => '/layouts/series_search' %>
	</div>
</div>
<div id="chart-board-nav">
	<a href="/data_lists/compare_forecasts/132">Compare Forecasts</a> | 	
	<a href="/hbr_mbr">HBR / MBR</a> | 	
	<a href="/prudential">Prudential</a> | 
	<a href="/employment">Employment (HI)</a> 
	<a href="/employment_us">(US)</a> 
	<a href="/employment_hon">(HON)</a> 
	<a href="/employment_haw">(HAW)</a> 
	<a href="/employment_mau">(MAU)</a> 
	<a href="/employment_kau">(KAU)</a> | 
	<a href="/income">Income (HI)</a> 
	<a href="/income_r">Real Income (HI)</a> 
	
</div>
<div id="chart-board-nav">
	Visitor HI</a> <a href="/visitor_a">(A)</a> <a href="/visitor_q">(Q)</a> <a href="/visitor">(M)</a> | 
	HON <a href="/visitor_hon_a">(A)</a> <a href="/visitor_hon_q">(Q)</a> <a href="/visitor_hon">(M)</a> | 
	HAW <a href="/visitor_haw_a">(A)</a> <a href="/visitor_haw_q">(Q)</a> <a href="/visitor_haw">(M)</a> | 
	MAU <a href="/visitor_mau_a">(A)</a> <a href="/visitor_mau_q">(Q)</a> <a href="/visitor_mau">(M)</a> | 
	KAU <a href="/visitor_kau_a">(A)</a> <a href="/visitor_kau_q">(Q)</a> <a href="/visitor_kau">(M)</a> | 
	<a href="/prudential_list_q">Prudential</a> |
	<a href="/tax_m">Tax</a> 
</div>

<p class="notice"><%= flash[:notice] %></p>
<p class="alert"><%= flash[:alert] %></p>
<%= yield %>

</body>
</html>